@import 'variables';
@import 'scss/bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* 
======================
Halaman  (di slide PDF)
===========================*/
body{
    font-weight: 400;
    color: #000;
}
#slideshow{
    .swiper-slide{
        .slide-content{
            transition: 10s ease-out;
		   transform: scale(1);
        }
        &.swiper-slide-active {
			.slide-content {
				transform: scale(1.1);
                
			}
            .box{
                transform: scale(1)!important;

            }
		}
    }
}
.big-head{
    font-size: 200px;
    font-weight: 800;
    line-height: 0;
}
.strip-kuning{
    width: 100%;
    height: 250px;
    display: block;
    position: absolute;
    top:30%;
}
.book {
    position: relative;
    margin-bottom: 30px;
    a{
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 15px;
            right:-15px;
            bottom:10px;
            z-index:-10;
            border-radius:15px;
            background-color:#d9d9d9;
        }
        img{
            border-radius:15px;
        }
    }
    .caption{
        position: absolute;
        bottom: -50px;
        z-index: 10;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 23px;
    }
   
}

.sus-item{
    .btn{
        transition: .35s ease-out;
    }
    .btn[aria-expanded="true"]{
        transform: rotate(180deg);
    }
}
    
